<a href="https://colab.research.google.com/github/Struth-Rourke/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/Assignment_Make_Features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [97]:
##### Begin Working Here #####

!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-03-10 21:06:41--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.4’

LoanStats_2018Q4.cs     [                 <=>]  21.71M   913KB/s    in 25s

2020-03-10 21:07:06 (905 KB/s) - ‘LoanStats_2018Q4.csv.zip.4’ saved [22763850]

In [98]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: LoanStats_2018Q4.csv

In [99]:
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows = 1, skipfooter = 2)

print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

(128284, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [100]:
##### Term Objective #####

term_length = df['term'][0] # Creating a variable to see what the cell contents is like

term_length

' 60 months'

In [101]:
term_length.strip().strip(' months') # Stripping the unnecessary information out of the cell to just get the value

'60'

In [102]:
term_length = int(term_length.strip().strip(' months')) # Saving the new stripped value over the old variable

term_length

60

In [103]:
type(term_length) # Confirming that the new value is indeed an integer

int

In [104]:
term_length_2 = df['term'][1] # New test variable to see whether or not the function I wrote next is correct

term_length_2

' 36 months'

In [105]:
# New function and calling that function for the new variable created above

def string_to_integer(cell_contents):
  return int(cell_contents.strip().strip(' months'))

string_to_integer(term_length_2)

36

In [106]:
type(string_to_integer(term_length_2)) # Checking that the output is indeed an integer

int

In [107]:
df['term'] = df['term'].apply(string_to_integer) # Using the x.apply function to replace all the old cell contents with the new integer content

df['term'].dtype # Confirming that the dtype for the 'Term' column is indeed a integer

dtype('int64')

In [108]:
df['term'] # Proof of change; bottom right dtype = int64

0         60
1         36
2         36
3         60
4         60
          ..
128279    36
128280    36
128281    36
128282    36
128283    36
Name: term, Length: 128284, dtype: int64

In [109]:
##### Loan Status is Great Objective #####

print(df['loan_status'][0]) # Checking to see what index contains what content 
print(df['loan_status'][1])
print(df['loan_status'][3])

Fully Paid
Current
Late (31-120 days)

In [110]:
# New function to change the contents of each index to the new values ( 1 or 0)

def loan_status_change(cell_contents):
  if cell_contents == 'Fully Paid' or cell_contents == 'Current':
    return int(1)
  else:
    return int(0)

print(loan_status_change(df['loan_status'][0])) 
print(loan_status_change(df['loan_status'][1]))
print(loan_status_change(df['loan_status'][3]))

1
1
0

In [111]:
df['loan_status_is_great'] = df['loan_status'].apply(loan_status_change) # Applying the function to the entirety of the Loan Status column

df['loan_status_is_great'].dtypes # Checking the dtype of the column to make sure it made the change throughout the column; was object, is now integer

dtype('int64')

In [112]:
df['loan_status_is_great'][:10] # Checking to make sure the change was made throughout the column

0    1
1    1
2    1
3    0
4    1
5    1
6    1
7    1
8    1
9    1
Name: loan_status_is_great, dtype: int64

In [113]:
df.head() # Check that Loan Status is Great is a new column inserted in the dataframe

   id  member_id  ...  settlement_term  loan_status_is_great
0 NaN        NaN  ...              NaN                     1
1 NaN        NaN  ...              NaN                     1
2 NaN        NaN  ...              NaN                     1
3 NaN        NaN  ...              NaN                     0
4 NaN        NaN  ...              NaN                     1

[5 rows x 145 columns]

In [114]:
##### Last Payment Month / Year Column Objective ##### last_pymnt_d_month and last_pymnt_d_year

[col for col in df if col.endswith('_d')] # Finding all the columns with 'd' at the end for date

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [115]:
df['last_pymnt_d'][:5] # Viewing the first five rows to see what kind of data is current present

0    May-2019
1    Feb-2020
2    Feb-2019
3    Oct-2019
4    Feb-2020
Name: last_pymnt_d, dtype: object

In [116]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format = True) # Converting the Last Payment column to Datetime

df['last_pymnt_d'] # Checking the see the change has been made

0        2019-05-01
1        2020-02-01
2        2019-02-01
3        2019-10-01
4        2020-02-01
            ...
128279   2018-12-01
128280   2020-02-01
128281   2020-02-01
128282   2020-02-01
128283   2020-02-01
Name: last_pymnt_d, Length: 128284, dtype: datetime64[ns]

In [117]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month # Creating the new column Last Payment Month

df['last_pymnt_d_month'] # Checking the column contents are indeed numeric months

0          5.0
1          2.0
2          2.0
3         10.0
4          2.0
          ...
128279    12.0
128280     2.0
128281     2.0
128282     2.0
128283     2.0
Name: last_pymnt_d_month, Length: 128284, dtype: float64

In [118]:
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year # Creating the new column Last Payment Year

df['last_pymnt_d_year'] # Checking the new column contents are indeed numeric years

0         2019.0
1         2020.0
2         2019.0
3         2019.0
4         2020.0
           ...
128279    2018.0
128280    2020.0
128281    2020.0
128282    2020.0
128283    2020.0
Name: last_pymnt_d_year, Length: 128284, dtype: float64

In [119]:
df.head() # Check that the two new columns are at the end of the dataframe

   id  member_id  ...  last_pymnt_d_month  last_pymnt_d_year
0 NaN        NaN  ...                 5.0             2019.0
1 NaN        NaN  ...                 2.0             2020.0
2 NaN        NaN  ...                 2.0             2019.0
3 NaN        NaN  ...                10.0             2019.0
4 NaN        NaN  ...                 2.0             2020.0

[5 rows x 147 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01